<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=N, initial-scale=1.0">
    <title>Node Express Project | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">

</head>