<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>dfadhfkahkflahsriueoiqruoeurihjhfhvjlfdhvjurytiuqcmk</p>
        <p>fkdjfkadsjflkajdlkfjadl;kfjadl;kfjaslkdjflkasdjlfkj</p>
        <p>czmvnzmnvzcvmzbczmvbcdakhfkdahfrqytiyifqbnqcjsbxqdqfhuqe</p>
    </div>

    <%- include("./partials/foot.ejs") %>
</body>
</html>